<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80725619122-bri5n34hi13ct40lm123la6eojqgvhkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80725619122-bri5n34hi13ct40lm123la6eojqgvhkd</string>
	<key>API_KEY</key>
	<string>AIzaSyBBrU6GAebuet5_kUkM-_uZ-DakfVLL4lQ</string>
	<key>GCM_SENDER_ID</key>
	<string>80725619122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.rkedlor.customersfcrud</string>
	<key>PROJECT_ID</key>
	<string>crudrestapi</string>
	<key>STORAGE_BUCKET</key>
	<string>crudrestapi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80725619122:ios:0551514dcd280deb50b4ab</string>
	<key>DATABASE_URL</key>
	<string>https://crudrestapi.firebaseio.com</string>
</dict>
</plist>